---
import ButtonFd from "@/components/common/ButtonFd.astro";
import StaffWithNavbar from "@/layouts/firstdate/StaffWithNavbar.astro";
---

<StaffWithNavbar>
  <div class="relative">
    <div class="flex min-h-screen items-center justify-center px-8">
      {/* Corner brackets */}
      <div
        class="absolute top-6 left-6 h-6 w-6 border-t-2 border-l-2 border-white"
      >
      </div>
      <div
        class="absolute top-6 right-6 h-6 w-6 border-t-2 border-r-2 border-white"
      >
      </div>
      <div
        class="absolute bottom-6 left-6 h-6 w-6 border-b-2 border-l-2 border-white"
      >
      </div>
      <div
        class="absolute right-6 bottom-6 h-6 w-6 border-r-2 border-b-2 border-white"
      >
      </div>

      <div class="flex flex-col items-center gap-8">
        <ButtonFd
          variant="fill"
          color="white"
          href="/staff/event/"
          class="w-full"
        >
          ลงทะเบียนน้องเข้างาน
        </ButtonFd>
        <ButtonFd
          variant="fill"
          color="white"
          href="/staff/profile/"
          class="w-full"
        >
          หน้าโปรไฟล์
        </ButtonFd>
      </div>
    </div>
  </div>
</StaffWithNavbar>
