---
import Navbar from "@rpkm/components/navbar.astro";
import "@rpkm/styles/styles.css"
import Footer from "@rpkm/components/footer.astro";
import HousePicker from "@rpkm/components/house-picker.astro"
import GroupPicker from "@rpkm/components/group-picker.astro";
import Profile from "@rpkm/components/profile.astro";
---

<div class="relative w-full mx-auto my-0 h-fit min-h-[100vh] overflow-hidden font-ibmplex">
    <div class="w-full h-fit pt-5 pb-12 flex flex-col gap-5 items-center">
        <!-- Profile -->
        <Profile />
        
        <!-- House -->
        <HousePicker />

        <!-- Group -->
        <GroupPicker />
    </div>
</div>