---
import "@rpkm/styles/styles.css";
import GroupPicker from "@rpkm/components/group-picker.astro";
import HousePicker from "@rpkm/components/house-picker.astro";
import Profile from "@rpkm/components/profile.astro";
---

<div
  class="font-ibmplex flex h-fit w-auto flex-col items-center gap-5 pt-5 pb-12"
>
  <!-- Profile -->
  <Profile />

  <!-- House -->
  <HousePicker />

  <!-- Group -->
  <GroupPicker />
</div>
