---
import "@rpkm/styles/styles.css";
import GroupPicker from "@rpkm/components/group-picker.astro";
import HousePicker from "@rpkm/components/house-picker.astro";
import Profile from "@rpkm/components/profile.astro";

import HouseDisplay from "./components/house-display.astro";

const displayHouseDate = new Date("2025-07-27T00:00:00+07:00");
const currentDate = new Date();

const isHouseDisplayEnabled = currentDate >= displayHouseDate;
---

<div
  class="font-ibmplex flex h-fit w-auto flex-col items-center gap-5 pt-5 pb-12"
>
  <!-- Profile -->
  <Profile />

  <!-- House -->
  {isHouseDisplayEnabled ? <HouseDisplay /> : <HousePicker />}

  <!-- Group -->
  <GroupPicker />
</div>
