---
import "@/styles/global.css";
import Footer from "@firstdate/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/freshmen-fest-logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FreshmenFest</title>
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body class="min-h-screen min-w-screen bg-slate-500">
    <div
      class="mx-auto flex min-h-screen max-w-[440px] flex-col bg-[url(/images/background/firstdate/bg-firstdate-main.webp)] bg-cover bg-center bg-no-repeat text-white"
    >
      <main class="flex-grow px-3">
        <slot />
      </main>
      <Footer variant="firstdate" />
    </div>
  </body>
</html>
