---
import MyWorkshops from "@/components/rpkm/workshop/MyWorkshops";
import WorkshopList from "@/components/rpkm/workshop/WorkshopList";
import { workshops } from "@/data/rpkm-workshop/workshops";
import Layout from "@/layouts/rpkm/WithNavbar.astro";
---

<Layout variant="rpkm_workshops">
  <!-- My workshops -->
  <div class="pb-8">
    <MyWorkshops client:load initialVariant="rpkm_workshops" />
  </div>
  <div class="pb-10">
    <WorkshopList
      client:load
      initialVariant="rpkm_workshops"
      workshops={workshops}
    />
  </div>
</Layout>
