---
import MyWorkshops from "@/components/rpkm/workshop/MyWorkshops";
import WorkshopList from "@/components/rpkm/workshop/WorkshopList";
import { workshops } from "@/data/rpkm-workshop/workshops";
import Layout from "@/layouts/rpkm/WithNavbar.astro";
import { getWorkshopsParticipantCounts } from "@/lib/workshopAPI";
import type { WorkshopData } from "@/types/rpkm-workshop/workshop";

let updatedWorkshops: WorkshopData[] = workshops;
const token = Astro.cookies.get("token")?.value;

if (!token) {
  return Astro.redirect("/rpkm/login");
}

try {
  const workshopsParticipantCountsResponse =
    await getWorkshopsParticipantCounts(token);
  if (
    !workshopsParticipantCountsResponse.success ||
    !workshopsParticipantCountsResponse.data
  ) {
    throw new Error("No participant counts data available");
  }
  const workshopsParticipantCounts = workshopsParticipantCountsResponse.data;

  updatedWorkshops = workshops.map((workshop) => {
    const workshopParticipantCount =
      workshopsParticipantCounts.find(
        (count) => count.workshopType === workshop.workshopType
      )?.count || 0;
    return {
      ...workshop,
      current: workshopParticipantCount,
    };
  });
} catch (error) {
  console.error("Error fetching workshops participant counts:", error);
  // Fallback to original workshops data if API fails
  updatedWorkshops = workshops.map((workshop) => {
    return {
      ...workshop,
      current: 0, // Default to 0 if we can't fetch counts
    };
  });
}
---

<Layout variant="rpkm_workshops">
  <!-- My workshops -->
  <div class="pb-8">
    <MyWorkshops client:load initialVariant="rpkm_workshops" />
  </div>
  <div class="pb-10">
    <WorkshopList
      client:load
      initialVariant="rpkm_workshops"
      workshops={updatedWorkshops}
    />
  </div>
</Layout>
