---
import Box from "@/components/firstdate/Box.astro";
import Layout from "@/layouts/firstdate/WithoutNavbar.astro";
---

<Layout>
  <Box
    color="light-green"
    size="large"
    class="flex flex-col items-center justify-center"
  >
    <form>
      <div>
        <h1 class="mb-4 text-center text-2xl font-bold">ลงทะเบียนสำเร็จ</h1>
        <p class="mb-6 text-center text-lg">
          ขอบคุณที่ลงทะเบียนเข้าร่วมงาน CU First Date!
        </p>
      </div>
    </form>
  </Box>
</Layout>
