---
import { cn } from '@/lib/utils';

interface Props {
  href: string;
  className?: string;
}

const { href, className="w-full" } = Astro.props;
---

<a href={href} class={cn("flex justify-center items-center py-2 bg-white text-black hover:bg-gray-100 transition-colors duration-200", className)}>
  <slot />
</a>