---
import BlurText from "@common/BlurText.astro";
import ButtonFD from "@common/ButtonFd.astro";
import Popup from "@common/Popup.astro";
import QRCode from "qrcode";

import Layout from "@/layouts/firstdate/WithNavbar.astro";

const user = Astro.locals.user;

const targetUrl = `studentId=${user.studentId}&citizenId=${user.citizenId}`;
const qrCodeData = await QRCode.toDataURL(targetUrl);
---

<Layout>
  <div class="mt-10 flex justify-center">
    <BlurText
      textSize="text-3xl"
      className="font-zen-dots text-white"
      blurClassName="text-white blur-[1.75px] translate-y-[2px] font-zen-dots"
    >
      MY QR CODE
    </BlurText>
  </div>
  <Popup
    class="flex flex-col items-center justify-center"
    size="medium"
    color="light-pink"
  >
    <div class="mb-4 text-center text-xs">
      <p>*สำหรับใช้ลงทะเบียนเข้างาน</p>
      <p>โปรดแสดงแก่เจ้าหน้าที่ในวันงาน</p>
    </div>
    <img src={qrCodeData} alt="QR Code" class="h-auto w-4/5" />
    <p class="text-md mt-6">{user.studentId}</p>
  </Popup>
  <div class="mb-24 flex justify-center">
    <ButtonFD href="/firstdate/home" color="white" variant="fill">
      กลับสู่หน้าหลัก
    </ButtonFD>
  </div>
</Layout>
