---
import BottleOfChoice from "@/components/rpkm/rubpuen/BottleOfChoice";
import Layout from "@/layouts/rpkm/WithNavbar.astro";
---

<Layout variant="rpkm_rubpuen">
  <BottleOfChoice client:load initialVariant="rpkm_rubpuen" />
  <div class="-mt-5 mb-10 flex min-h-full w-full flex-col gap-3">
    <h1 class="mb-3 text-center text-4xl font-bold">
      Profile <br />
      Group <br />
      Baan
    </h1>
  </div>
</Layout>
