<nav class="flex items-center w-full justify-between bg-white p-1 relative z-20">
  <div></div>
  <a href="/firstdate/home/">
    <img src="/common/logo_freshmenfest.svg" alt="logo" />
  </a>
  <button>
    <img src="/common/hamburger.svg" alt="menu" class="h-3 w-auto -translate-x-4" />
  </button>
</nav>