---
import IsdLogo44 from "@rpkm/icons/isd-logo-44.astro"
import OrborjorLogo44 from "@rpkm/icons/orborjor-logo-44.astro"
import IsdLogo28 from "@rpkm/icons/isd-logo-28.astro"
import InstagramLogo28 from "@rpkm/icons/instagram-logo-28.astro"
---

<footer>
    <!-- Upper -->
    <div class="w-full h-fit flex flex-col items-center gap-3 py-4 bg-[radial-gradient(50%_50%_at_50%_50%,_#8A2BE4_0%,_#2B2D42_100%)]">
        <!-- Logos  -->
        <div class="flex gap-3 justify-center">
            <IsdLogo44/>
            <OrborjorLogo44/>
        </div>
        <!-- Upper Text -->
        <div class="text-center text-white text-xs font-medium">
            <p>พัฒนาโดยฝ่ายพัฒนาระบบสารสนเทศ</p>
            <p>องค์การบริหารสโมสรนิสิตจุฬาลงกรณ์มหาวิทยาลัย</p>
        </div>
        <!-- Line -->
        <div class="w-20 h-[0.5px] bg-white"></div>
        <!-- Lower Text -->
        <div class="text-center text-white text-xs font-medium">
            <p>Developed by Information System Development {"<ISD>"},</p>
            <p>Student Government Chulalongkorn University</p>
        </div>
    </div>
    <!-- Lower -->
    <div class="w-full min-h-[100px] h-fit bg-white py-2 flex flex-col gap-2 items-center">
        <!-- Header -->
        <p class="text-black font-semibold text-center">Contact us</p>
        <!-- Contacts -->
        <div class="flex gap-4">
            <a href=" https://isd.sgcu.in.th/" target="_blank" rel="noopener noreferrer">
                <div class="flex flex-col gap-1 items-center cursor-pointer">
                    <IsdLogo28/>
                    <p class="text-xs font-medium underline">Website</p>
                </div>
            </a>
            <a href="https://www.instagram.com/isd.sgcu/" target="_blank" rel="noopener noreferrer">
                <div class="flex flex-col gap-1 items-center cursor-pointer">
                    <InstagramLogo28/>
                    <p class="text-xs font-medium underline">Instagram</p>
                </div>
            </a>
        </div>
    </div>
</footer>