<nav class="w-full h-[63px] flex items-center bg-black px-3 py-1">
  <p class="text-white text-2xl font-bold cursor-pointer">{"<"}</p>
  <p class="flex-grow text-center text-[#D38DD8] font-semibold text-xl">
    รับเพื่อนก้าวใหม่ 68
  </p>
  <div class="w-6"></div>
</nav>
