---
import ButtonFest from "@/components/common/ButtonFest.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import Layout from "@/layouts/fest/FestWithNavbar.astro";
---

<Layout>
  <div class="px-4">
    <ButtonFest color="white" size="big">White Button Large</ButtonFest>
    <ButtonFest color="white" size="small">Small</ButtonFest>
    <ButtonFest color="pink" size="big">Pink Button Large</ButtonFest>
    <ButtonFest color="blue" size="big">Blue Button Large</ButtonFest>
    <HorizonlineFest variant="blue" />
    <HorizonlineFest variant="yellow" />
  </div>
</Layout>
