---
import Layout from "@/layouts/fest/FestWithNavbar.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
---

<Layout>
  
  <div class="px-4 py-6 flex flex-col space-y-2">
    <div class="w-full sticky top-0 z-10 backdrop-blur-md px-3 justify-between flex py-2">
      <a href="/fest/quest-3-5" class="text-2xl font-bold">{'<'}</a>
      <div class="text-center">
        <p class="text-5xl font-bold">
          Quest 4
        </p>
        <p class="text-[48px font-bold font-Orbitron">
          On the way to nowhere 109 Theatre
        </p>

      </div>
      <a href="/fest/quest-5" class="text-2xl font-bold">{'>'}</a>
    </div>

    <div class="pt-4 ">
      <header class="max-w-[315px] text-shadow-md text-shadow-[#00FFFF]">
        สถานที่ตั้งหลักพักใจของ “เหล่านักท่องเวลาผู้หลงทาง”หลากหลายมิติ หลากหลายดินแดน แต่ทุกคนล้วนมีเป้าหมายเดียวกัน…
        <p class="mt-[20px]">หวังจะได้พบเพื่อนร่วมทางอีกครั้ง</p>
      </header>

      <div>
        <p>หารู้ไม่ว่า นักท่องเวลาที่ผ่านเส้นทางหลบ พายุมาได้ ก็มีเป้าหมายอย่างเดียวกัน เมื่อมาเยือน ณ On the way to nowhere Theatre 
          แห่งนี้เหล่านักท่องเวลา จะได้พบ “เพื่อนร่วมทาง” ของตนเอง แต่ทว่าจะมีเพียงนักท่องเวลาที่ ลงทะเบียนเข้า Theatre ทันเวลาเท่านั้นที่จะได้ 
          รับชมภาพยนตร์กับเพื่อนร่วมทางที่หายตัวไป และ ยังได้รับของขวัญสุดพิเศษที่มิติแห่งห้วงเวลาได้ จัดเตรียมไว้ให้
        </p>

        <p>
          On the way to nowhere Theatre สถานที่ตั้งหลัก พักใจของ “เหล่านักท่องเวลาผู้หลงทาง” นอกจากจะได้ 
          พักผ่อนหย่อนใจด้วยการดูหนังแล้ว ยังอาจได้พบ “เพื่อนร่วมทาง” ที่หายไปอีกด้วย และยังมี welcome gift สุด exclusive 
          ที่จะได้รับเฉพาะ ผู้ที่มาเยือน On the way to nowhere 109 Theatre เท่านั้น
        </p>
        <HorizonlineFest variant="blue" />
      </div>
      <div class="text-center text-shadow-md text-shadow-[#00FFFF] mt-[25px] mb-[20px]">
        <p>วิธีการทำกิจกรรม</p>
        <p>ลงทะเบียนเพื่อเข้าร่วม ลงกี่กิจกรรมก็ได้</p>
        <p>แต่ 1 กิจกรรมลงได้ 1 รอบเท่านั้น</p>
    </div>

    </div>

  </div>
</Layout>