---
import ButtonFest from "@/components/common/ButtonFest.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import Layout from "@/layouts/fest/FestWithNavbar.astro";
---

<Layout>
  <div class="flex flex-col space-y-2 px-4 py-6">
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-3-2" class="mt-2.5 text-2xl font-bold">{"<"}</a>
      <div class="flex flex-col gap-1 text-center">
        <p class="font-family-orbitron text-5xl">Quest 3.3</p>
        <p class="text-2xl font-extralight">Birdwalk</p>
      </div>
      <a href="/fest/quest-3-4" class="mt-2.5 text-2xl font-bold">{">"}</a>
    </div>
    <div class="pt-4">
      <img
        src="/public/images/fest/quest-3-3-banner.webp"
        alt="Quest 3-3 Banner"
        class="mb-4 h-auto w-full shadow-md"
      />
      <div
        class="my-5 flex flex-row items-end gap-1 justify-self-center text-center font-semibold tracking-widest whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        <p class="text-xl">จุฬาฯ มีนก!? เดินดูนก ชมไม้ ใจกลางเมือง</p>
      </div>
      <!-- <img
        src="/images/quest-1-banner.jpg"
        alt="Quest 1 Banner"
        class="mb-4 h-auto w-full rounded-lg shadow-md"
      /> -->
      <p
        class="text-justify indent-10 leading-relaxed hyphens-auto whitespace-pre-line"
        lang="th"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        {
          `         ใครว่าจุฬาฯ มีแต่ตึก มาร่วม Walking Tour สุดพิเศษที่จะพาคุณออกเดินชมธรรมชาติกลางมหาวิทยาลัย พร้อมกล้องดูนกในมือ สอดส่องเหล่านกตัวจิ๋วที่แอบซ่อนอยู่ ตามต้นไม้ใหญ่ สนามหญ้า และมุมลับที่หลายคน เดินผ่านแต่ไม่เคยสังเกต

                    กิจกรรมนี้เหมาะกับทั้งสายธรรมชาติ สายสโลว์ไลฟ์หรือใครที่อยากพักจากความวุ่นวายมาใช้เวลากับเสียงนกร้องและลมเย็น ๆ ของจุฬาฯ`
        }
      </p>
      <p
        class="my-5 text-center font-bold tracking-wide whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        {`บอกเลยว่าแค่ยกกล้อง โลกก็ดูเปลี่ยนไป 🐦🌳🔍`}
      </p>
      <div class="mb-7">
        <strong>จุดเริ่มต้น-สิ้นสุดเส้นทาง:</strong><br />ลานพระบรมรูปสองรัชกาล 
        (กรณีฝนตก<br /> ใช้อาคารบรมราชกุมารี คณะอักษรศาสตร์)
      </div>
      <HorizonlineFest variant="blue" />
      <div
        class="my-5 text-center text-xl tracking-wide whitespace-pre-line"
        lang="th"
      >
        <p class="font-bold">วัน เวลาจัดกิจกรรม</p>
        <p class="mt-3 text-left text-base font-bold">รอบละ 30 คน</p>
        <ul class="ml-5 space-y-1 text-left text-sm">
          <li class="list-disc">20 กรกฎาคม 06.30 - 09.00 น.</li>
          <li class="list-disc">26 กรกฎาคม 06.30 - 09.00 น.</li>
        </ul>
        <p class="mt-2 text-left text-base">
          <strong>จุดนัดพบ:</strong> ลานพระบรมรูปสองรัชกาล  <br /> (อาคารบรมราชกุมารี
          คณะอักษรศาสตร์ <br /> กรณีฝนตก)
        </p>
      </div>

      <div class="flex flex-col items-center gap-4">
        <ButtonFest
          href="https://forms.gle/VgEbs394BveNz1iEA"
          color="pink"
          size="big">ลงทะเบียน Quest</ButtonFest
        >
      </div>
      <!-- <p class="text-justify leading-relaxed hyphens-auto" lang="th" style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">เหล่านักท่องเวลาถูกพายุสุริยะพัดพาไป ในดินแดนอันเต็มไปด้วยผู้คน ประวัติศาสตร์ วัฒนธรรม ความเชื่อ หลายต่อหลายดินแดน แต่สุดท้ายแล้ว ทุกดินแดน กลับมีจุดร่วมเดียวกัน นั่นคือความเป็นชุมชนจุฬาฯ ในฐานะนิสิตจุฬาฯ หนึ่งในองค์ประกอบเล็ก ๆ ที่สำคัญของชุมชนนี้ ควรจะใช้ความรู้ ความสามารถที่มี เพื่อเติมเต็มพัฒนาชุมชนจุฬาฯ ที่ดำเนิน และเป็นอยู่มาอย่างยาวนานตั้งแต่อดีต จวบจนปัจจุบัน และคาดหวังว่าจะยังคงดำเนินต่อไป ในอนาคต นักท่องเวลาทุกคนจะได้ CU109 FRESHY GUIDEBOOK เป็นตัวช่วยพิเศษที่จะใช้เก็บบันทึก ประสบการณ์ การผจญภัยในแต่ละมิติเวลา และ จะได้รับการประทับตราแสตมป์ เพื่อเป็นหลักฐาน ว่าเหล่านักท่องเวลาได้สำรวจพื้นที่ต่าง ๆ ในแต่ละ มิติเวลามาแล้ว</p> -->
      <!-- <p class="text-justify leading-relaxed hyphens-auto" lang="th" style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">เหล่านักท่องเวลาถูกพายุสุริยะพัดพาไป ในดินแดนอันเต็มไปด้วยผู้คน ประวัติศาสตร์ วัฒนธรรม ความเชื่อ หลายต่อหลายดินแดน แต่สุดท้ายแล้ว ทุกดินแดน กลับมีจุดร่วมเดียวกัน นั่นคือความเป็นชุมชนจุฬาฯ ในฐานะนิสิตจุฬาฯ หนึ่งในองค์ประกอบเล็ก ๆ ที่สำคัญของชุมชนนี้ ควรจะใช้ความรู้ ความสามารถที่มี เพื่อเติมเต็มพัฒนาชุมชนจุฬาฯ ที่ดำเนิน และเป็นอยู่มาอย่างยาวนานตั้งแต่อดีต จวบจนปัจจุบัน และคาดหวังว่าจะยังคงดำเนินต่อไป ในอนาคต นักท่องเวลาทุกคนจะได้ CU109 FRESHY GUIDEBOOK เป็นตัวช่วยพิเศษที่จะใช้เก็บบันทึก ประสบการณ์ การผจญภัยในแต่ละมิติเวลา และ จะได้รับการประทับตราแสตมป์ เพื่อเป็นหลักฐาน ว่าเหล่านักท่องเวลาได้สำรวจพื้นที่ต่าง ๆ ในแต่ละ มิติเวลามาแล้ว</p> -->
    </div>
  </div>
</Layout>
