---
import Layout from "@/layouts/fest/FestWithNavbar.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import ButtonFest from "@/components/common/ButtonFest.astro";
---

<Layout>
  <div class="flex flex-col space-y-2 px-4 py-6">
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-3-1" class="mt-2.5 text-2xl font-bold">{"<"}</a>
      <div class="flex flex-col gap-1 text-center">
        <p class="font-family-orbitron text-5xl">Quest 3.2</p>
        <p class="text-2xl font-extralight">เดินสามย่าน สายกินสายมู</p>
      </div>
      <a href="/fest/quest-3-3" class="mt-2.5 text-2xl font-bold">{">"}</a>
    </div>
    <div class="pt-4">
      <div
        class="my-5 flex flex-row items-end gap-1 justify-self-center text-center font-semibold tracking-widest whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        <p class="text-xl">เดินกิน เดินมู รู้รอบรั้ว</p>
      </div>
      <!-- <img
        src="/images/quest-1-banner.jpg"
        alt="Quest 1 Banner"
        class="mb-4 h-auto w-full rounded-lg shadow-md"
      /> -->
      <p
        class="text-justify indent-10 leading-relaxed hyphens-auto whitespace-pre-line"
        lang="th"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        {
          `     เปิดเทอมใหม่ทั้งที มาเดินเปิดโลกนอกห้องเรียน กันหน่อย!  Walking Tour รอบสามย่าน แหล่งรวมของอร่อย สถานที่สายมู และจุดสำคัญ ที่นิสิตจุฬาฯ ต้องรู้ไว้ ทั้งยามหิว ยามเครียดหรือยามอยากหาที่นั่งชิลแบบลับ ๆ

                ชวนกันมาเดินเล่นในละแวกที่เต็มไปด้วยชีวิต ทั้งเรื่องกิน เรื่องมู เรื่องใช้ชีวิตนิสิตให้คุ้ม ไม่ต้องหาข้อมูลเองให้เหนื่อย`
        }
      </p>
      <p
        class="my-5 text-center font-bold tracking-wide whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        {
          `แค่มาเดินกับเรา 
          แล้วจะรู้ว่าสามย่านมีอะไรมากกว่าที่คิด 🍜🔮📍`
        }
      </p>
      <div class="mb-7">
        <strong>จุดเริ่มต้น:</strong> อาคารจามจุรี 9 <br />
        <div class="flex flex-row gap-2">
          <p><strong>จุดสิ้นสุดเส้นทาง:</strong></p>
          <p>อาคารกิจกรรมนิสิต <br /> คณะรัฐศาสตร์</p>
        </div>
      </div>
      <HorizonlineFest variant="blue" />
      <div
        class="my-5 text-center text-xl tracking-wide whitespace-pre-line"
        lang="th"
      >
        <p class="font-bold">วัน เวลาจัดกิจกรรม</p>
        <p class="mt-3 text-left text-base font-bold">รอบละ 30 คน</p>
        <ul class="ml-5 space-y-1 text-left text-sm">
          <li class="list-disc">20 กรกฎาคม 10.00 - 13.00 น.</li>
          <li class="list-disc">23 กรกฎาคม 10.00 - 13.00 น.</li>
          <li class="list-disc">25 กรกฎาคม 10.00 - 13.00 น.</li>
        </ul>
        <p class="mt-2 text-left text-base">
          <strong>จุดนัดพบ:</strong> อาคารจามจุรี 9
        </p>
      </div>

      <div class="flex flex-col items-center gap-4">
        <ButtonFest
          href="https://docs.google.com/forms/d/e/1FAIpQLSccX0yiGEwpjEppS7cUMrj4idQDHycRLM1aXMJ-YyfT3hJzWg/viewform?usp=dialog"
          color="pink"
          size="big">ลงทะเบียน Quest</ButtonFest
        >
      </div>
      <!-- <p class="text-justify leading-relaxed hyphens-auto" lang="th" style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">เหล่านักท่องเวลาถูกพายุสุริยะพัดพาไป ในดินแดนอันเต็มไปด้วยผู้คน ประวัติศาสตร์ วัฒนธรรม ความเชื่อ หลายต่อหลายดินแดน แต่สุดท้ายแล้ว ทุกดินแดน กลับมีจุดร่วมเดียวกัน นั่นคือความเป็นชุมชนจุฬาฯ ในฐานะนิสิตจุฬาฯ หนึ่งในองค์ประกอบเล็ก ๆ ที่สำคัญของชุมชนนี้ ควรจะใช้ความรู้ ความสามารถที่มี เพื่อเติมเต็มพัฒนาชุมชนจุฬาฯ ที่ดำเนิน และเป็นอยู่มาอย่างยาวนานตั้งแต่อดีต จวบจนปัจจุบัน และคาดหวังว่าจะยังคงดำเนินต่อไป ในอนาคต นักท่องเวลาทุกคนจะได้ CU109 FRESHY GUIDEBOOK เป็นตัวช่วยพิเศษที่จะใช้เก็บบันทึก ประสบการณ์ การผจญภัยในแต่ละมิติเวลา และ จะได้รับการประทับตราแสตมป์ เพื่อเป็นหลักฐาน ว่าเหล่านักท่องเวลาได้สำรวจพื้นที่ต่าง ๆ ในแต่ละ มิติเวลามาแล้ว</p> -->
      <!-- <p class="text-justify leading-relaxed hyphens-auto" lang="th" style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">เหล่านักท่องเวลาถูกพายุสุริยะพัดพาไป ในดินแดนอันเต็มไปด้วยผู้คน ประวัติศาสตร์ วัฒนธรรม ความเชื่อ หลายต่อหลายดินแดน แต่สุดท้ายแล้ว ทุกดินแดน กลับมีจุดร่วมเดียวกัน นั่นคือความเป็นชุมชนจุฬาฯ ในฐานะนิสิตจุฬาฯ หนึ่งในองค์ประกอบเล็ก ๆ ที่สำคัญของชุมชนนี้ ควรจะใช้ความรู้ ความสามารถที่มี เพื่อเติมเต็มพัฒนาชุมชนจุฬาฯ ที่ดำเนิน และเป็นอยู่มาอย่างยาวนานตั้งแต่อดีต จวบจนปัจจุบัน และคาดหวังว่าจะยังคงดำเนินต่อไป ในอนาคต นักท่องเวลาทุกคนจะได้ CU109 FRESHY GUIDEBOOK เป็นตัวช่วยพิเศษที่จะใช้เก็บบันทึก ประสบการณ์ การผจญภัยในแต่ละมิติเวลา และ จะได้รับการประทับตราแสตมป์ เพื่อเป็นหลักฐาน ว่าเหล่านักท่องเวลาได้สำรวจพื้นที่ต่าง ๆ ในแต่ละ มิติเวลามาแล้ว</p> -->
    </div>
  </div>
</Layout>
