---
import ButtonFest from "@/components/common/ButtonFest.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import Layout from "@/layouts/fest/FestWithNavbar.astro";
---

<Layout>
  <div class="flex flex-col space-y-2 px-10 py-6">
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-3-5" class="text-2xl font-bold">{"<"}</a>
      <div class="text-center">
        <p class="text-5xl" style="font-family: var(--font-orbitron);">
          Quest 4
        </p>
        <p class="text-[24px]">
          On the way to <br />nowhere 109 Theatre
        </p>
      </div>
      <a href="/fest/quest-5" class="text-2xl font-bold">{">"}</a>
    </div>

    <div class="pt-4">
      <header
        class="mx-auto max-w-[315px] text-center text-shadow-[#00FFFF] text-shadow-md"
      >
        สถานที่ตั้งหลักพักใจของ<br />
        “เหล่านักท่องเวลาผู้หลงทาง”<br />
        หลากหลายมิติ หลากหลายดินแดน<br />
        แต่ทุกคนล้วนมีเป้าหมายเดียวกัน…
        <p class="my-[20px]">หวังจะได้พบเพื่อนร่วมทางอีกครั้ง</p>
      </header>

      <div>
        <p class="text-justify [text-indent:4em] leading-relaxed">
          หารู้ไม่ว่า นักท่องเวลาที่ผ่านเส้นทางหลบ พายุมาได้
          ก็มีเป้าหมายอย่างเดียวกัน เมื่อมาเยือน ณ On the way to nowhere Theatre
          แห่งนี้เหล่านักท่องเวลา จะได้พบ “เพื่อนร่วมทาง” ของตนเอง
          แต่ทว่าจะมีเพียงนักท่องเวลาที่ ลงทะเบียนเข้า Theatre
          ทันเวลาเท่านั้นที่จะได้ รับชมภาพยนตร์กับเพื่อนร่วมทางที่หายตัวไป และ
          ยังได้รับของขวัญสุดพิเศษที่มิติแห่งห้วงเวลาได้ จัดเตรียมไว้ให้
        </p>

        <p class="my-[20px] text-justify [text-indent:2em] leading-relaxed">
          On the way to nowhere Theatre สถานที่ตั้งหลัก พักใจของ
          “เหล่านักท่องเวลาผู้หลงทาง” นอกจากจะได้
          พักผ่อนหย่อนใจด้วยการดูหนังแล้ว ยังอาจได้พบ “เพื่อนร่วมทาง”
          ที่หายไปอีกด้วย และยังมี welcome gift สุด exclusive ที่จะได้รับเฉพาะ
          ผู้ที่มาเยือน On the way to nowhere 109 Theatre เท่านั้น
        </p>
        <HorizonlineFest variant="blue" />
      </div>
      <div class="mt-[25px] mb-[10px] text-center">
        <p class="text-center text-[20px] font-bold">วิธีการทำกิจกรรม</p>
        <p class="text-[16px]">ลงทะเบียนเพื่อเข้าร่วม</p>
      </div>

      <div class="font-ibm-plex-sans-thai text-white">
        <p class="text-center text-[20px] font-bold">ระยะเวลากิจกรรม</p>
        <ul class="mb-6 list-none">
          <li class="mb-2">
            <span class="inline-block w-4">•</span> ลงทะเบียน 18 - 20 กรกฎาคม 2568
          </li>
          <li>
            <span class="inline-block w-4">•</span> กิจกรรมจริง วันที่ 29 กรกฎาคม
            2568
            <ul class="mt-2 ml-8 list-none">
              <li class="mb-1">
                <span class="inline-block w-4">•</span> รอบที่ 1 13:00 - 16:10 น.
              </li>
              <li>
                <span class="inline-block w-4">•</span> รอบที่ 2 16:10 - 20:00 น.
              </li>
            </ul>
          </li>
        </ul>

        <div class="text-center">
          <p class="text-[20px] font-bold">สถานที่</p>
          <p class="text-[16px] leading-relaxed">
            ห้องประชุม ดร.เทียม อาคารมงกุฎสมมุติวงศ์<br />คณะนิติศาสตร์
          </p>
        </div>

        <div class="mt-8 mb-[25px] text-center text-[16px]">
          <p>
            <span class="font-semibold">จำนวนคนที่สามารถสมัครได้:</span> รอบละ 150
            คน
          </p>
          <p>
            <span class="font-semibold">เงื่อนไขกิจกรรม :</span> สมัครได้เพียง 1
            รอบ/คน เท่านั้น
          </p>
        </div>
      </div>

      <HorizonlineFest variant="blue" />

      <div class="mt-[25px] text-center">
        <p class="text-center text-[20px] font-bold">โปรแกรมฉายหนัง</p>
        <p class="mb-[20px] text-center text-lg leading-relaxed">
          วันอังคารที่ 29 กรกฎาคม 2568
        </p>
        <img
          src="/fest/MoviePoster.png"
          alt="PosterTable"
          width="250px"
          height="352px"
          class="mx-auto my-[10px] inline-block"
        />
        <p class="mt-[20px] mb-[30px] text-center text-[10px]">
          ***แนะนำให้มาตั้งเเต่เวลาประตูเปิด เนื่องจาก ผู้ที่มาก่อนสามารถ<br />
          เลือกที่นั่งได้ก่อน (Free Seating : First Come, First Served) <br />
          และจะได้มีเวลาเล่น Mission พร้อมทั้งรับ welcome gift
        </p>
      </div>
      <HorizonlineFest variant="blue" />

      <div class="mt-[30px] text-center">
        {/*Poster Section */}
        <p class="mb-[2px] text-[16px] font-bold">รอบ 1 13:00 น.</p>
        <p class="mb-[2px] text-[20px] leading-relaxed font-bold">
          รับชม : About Time
        </p>
        <img
          src="/fest/AboutTimePoster.jpg"
          alt="AboutTimePoster"
          width="130px"
          height="207px"
          class="mx-auto my-[10px] inline-block"
        />

        <div
          class="mt-[10px] mb-[20px] text-[16px] text-shadow-[#00FFFF] text-shadow-md"
        >
          <p>
            “We&apos;re all travelling through time together every day of our
            lives. All we can do is do our best to relish this remarkable ride.”
          </p>
          <p>- About Time</p>
        </div>
      </div>
      <HorizonlineFest variant="blue" />
      <div class="mt-[30px] text-center">
        {/*Poster Section */}
        <p class="mb-[2px] text-[16px] font-bold">รอบ 2 : 16:10 น.</p>
        <p class="mb-[2px] text-[20px] leading-relaxed font-bold">
          รับชม : Interstellar
        </p>
        <img
          src="/fest/InterstellarPoster.jpg"
          alt="InterstellarPoster"
          width="130px"
          height="193px"
          class="mx-auto my-[10px] inline-block"
        />

        <div
          class="mt-[10px] mb-[20px] text-[16px] text-shadow-[#00FFFF] text-shadow-md"
        >
          <p>
            “I&apos;m not afraid of death.<br />I&apos;m an old physicist.
            I&apos;m afraid of time.”
          </p>
          <p>- Interstellar</p>
        </div>
      </div>
      <HorizonlineFest variant="blue" />
    </div>

    <div>
      {/*Annotation*/}
      <p class="mb-[2px] text-[16px] font-bold">
        หมายเหตุในการรับชมภาพยนตร์<br />
        On the way to Nowhere 109 Theatre
      </p>
      <ul class="mb-6 ml-[10px] list-none">
        <li class="mb-2">
          <span class="inline-block w-4">•</span> ทาง On the way to Nowhere 109 Theatre
          ไม่มีระบบรับจอง ที่นั่งก่อนรับชมภาพยนตร์ โดยให้สิทธิผู้ที่มาก่อนสามารถเลือกที่
          นั่งได้ก่อน (Free Seating : First Come, First Served)
        </li>
        <li class="mb-2">
          <span class="inline-block w-4">•</span> ไม่อนุญาตให้นำอาหารและเครื่องดื่มภายนอก
          มารับประทาน (หากเป็นภาชนะที่มีฝาปิด เช่น ขวดหรือกระติกน้ำที่มีฝาปิด สามารถนำเข้า
          Theatre ได้)
        </li>
      </ul>
    </div>

    <div class="text-center">
      <p class="mb-[2px] text-[20px] leading-relaxed font-bold">
        ตารางสรุปกิจกรรม
      </p>
      <img
        src="/fest/PosterTable.png"
        alt="PosterTable"
        width="343px"
        height="288px"
        class="mx-auto my-[20px] inline-block"
      />
    </div>

    <diV class="my-[20px] text-center">
      <ButtonFest
        color="pink"
        size="big"
        href="https://forms.gle/VgEbs394BveNz1iEA"
      >
        ลงทะเบียน Quest
      </ButtonFest>
    </diV>
  </div></Layout
>
