---
import ButtonFest from "@/components/common/ButtonFest.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import Layout from "@/layouts/fest/FestWithNavbar.astro";
const eventDetails = [
  "Talk Show จาก Special Guest",
  "Last Mission",
  "Show สุดพิเศษ",
  "Photobooth",
  "ต้นไม้อธิษฐาน “จามจุรีประดับใจ”",
];
---

<Layout>
  <div class="flex flex-col space-y-2 px-2 py-6">
    {/* Fix Padding X = 10 */}
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-4" class="text-2xl font-bold">{"<"}</a>
      <div class="text-center">
        <p class="text-5xl" style="font-family: var(--font-orbitron);">
          Quest 5
        </p>
        <div class="text-[24px]">
          <p>งานปฐมนิเทศ X Freshmen</p>
          <p>Festival 2025 : ส่งเพื่อนไปก้าวใหม่</p>
        </div>
      </div>
      <a href="/fest/home" class="text-2xl font-bold">{">"}</a>
    </div>

    <div class="px-10">
      <div class="mx-auto pt-2">
        <div class="mb-[10px] text-center">
          <img
            src="/fest/PosterQuest5.png"
            alt="PosterQuest5"
            width="315px"
            height="466px"
            class="mt-[10px] inline-block"
          />
        </div>

        <div>
          <p class="text-justify [text-indent:2em] leading-relaxed">
            เมื่อเหล่านักท่องเวลาทั้งหมดได้กลับมาพบกัน<br />อีกครั้ง
            เป็นสัญญาณสำคัญว่า
          </p>

          <p
            class="my-[20px] text-center [text-indent:2em] leading-relaxed text-shadow-[#00FFFF] text-shadow-md"
          >
            “เครื่องบินสายการบิน Chulalongkorn <br />เที่ยวบินที่ CU109
            พร้อมแล้วที่จะ Landing”
          </p>

          <p>
            ถึงอย่างไร เหล่านักท่องเวลาก็ยังต้องเจอ กับภารกิจส่วนสุดท้าย
            เพื่อเป็นการพิสูจน์ ความร่วมแรงร่วมใจที่จะฝ่าฟันอุปสรรค ไปด้วยกัน
            ก่อนจะหวนกลับสู่มิติเวลาที่จากมาเหล่านักท่องเวลา
            จะสามารถรักษาคำสัญญา และปฏิบัติภารกิจจนจบได้หรือไม่!!!
            นอกจากนิสิตใหม่จะได้เข้ากิจกรรมสุดท้าย ของเทศกาล เพื่อทำ misison
            สุดท้าย และเฉลิมฉลองการเสร็จสิ้นภารกิจผจญภัย ในมิติเวลา “The Time
            Quest” ทั้ง 5 Quest แล้วนั้น ยังจะได้รับชมโชว์พิเศษจากชมรมต่าง ๆ
            รวมถึงได้รู้จักจุฬาฯ มากขึ้นร่วมกับ Guest ที่ Freshmen Festival
            ได้เชิญมาเพื่อ CU109 โดยเฉพาะ
            พร้อมทั้งพบกับการต้อนรับสุดพิเศษจากบ้านรับเพื่อน และพาทุกคน
          </p>

          <p
            class="my-[15px] text-center text-[20px] text-shadow-[#00FFFF] text-shadow-md"
          >
            Landing to Rubpuenkaomai
          </p>
          <HorizonlineFest variant="blue" />

          <div class="my-[15px] text-center">
            <p class="text-[16px]">What&apos;s in</p>
            <p class="text-[20px] font-bold">
              งานปฐมนิเทศ X <br />Freshmen Festival 2025 <br />:
              ส่งเพื่อนไปก้าวใหม่
            </p>
          </div>
          <ul class="mb-[20px] list-none">
            {
              eventDetails.map((item) => (
                <li class="mb-2">
                  <span class="inline-block w-4">•</span>
                  {item}
                </li>
              ))
            }
          </ul>
          <HorizonlineFest variant="blue" />
        </div>
      </div>

      <div
        class="text-center text-[20px] font-bold text-shadow-[#00FFFF] text-shadow-md"
      >
        <p>
          เพราะ “เวลา”<br />คือสิ่งเดียวที่เราใช้ไปแล้ว <br />ไม่มีวันหวนกลับ
        </p>
      </div>

      <p class="text-[16px]">
        ขอให้นิสิตจุฬาฯ รุ่นที่ 109 ทุกคน ได้เป็นนิสิต <br
        />ดั่งที่ทุกคนใฝ่ฝันไว้ และใช้ทุกวินาทีในรั้วจุฬาฯ
        ให้คุ้มค่าทั้งต่อตนเองและสังคม เพราะ เกียรติภูมิจุฬาฯ
        คือเกียรติแห่งการรับใช้ประชาชน
      </p>
      <HorizonlineFest variant="blue" />
      <div class="text-center">
        <p class="text-[20px] font-bold">วันที่จัดกิจกรรม</p>
        <p class="text-[16px]">31 กรกฎาคม 2568</p>
        <p class="mt-[10px] text-[20px] font-bold">สถานที่</p>
        <p class="text-[16px]">หอประชุมจุฬาลงกรณ์มหาวิทยาลัย</p>
      </div>
      <HorizonlineFest variant="blue" />
      <div class="my-[20px]">
        <p>สามารถติดตามรายละเอียดเพิ่มเติมได้ที่</p>
        <p>เว็บไซต์ Freshmen Festival 2025</p>
        <p>Instagram : freshmenfest.2025</p>
        <p>Line OA : freshmenfest.2025</p>
      </div>

      <diV class="mt-[20px] mb-[40px] text-center">
        <ButtonFest
          color="pink"
          size="big"
          href="https://forms.gle/VgEbs394BveNz1iEA"
        >
          ลงทะเบียน Quest
        </ButtonFest>
      </diV>
    </div>
  </div>
</Layout>
