---
import Layout from "@/layouts/fest/FestWithNavbar.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import ButtonFest from "@/components/common/ButtonFest.astro";
const awardConditions = [
  "สะสมกิจกรรมชุมชน ผ่าน แต้ม LINE OA",
  "สะสม 5 แต้ม จะได้รับ Bronze Set",
  "สะสม 10 แต้ม จะได้รับ Silver Set ",
  "สะสม 15 แต้ม จะได้รับ Gold Set",
];
---

<Layout>
  <div class="flex flex-col space-y-2 px-4 py-6">
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-1" class="mt-2.5 text-2xl font-bold">{"<"}</a>
      <div class="flex flex-col gap-1 text-center">
        <p class="font-family-orbitron text-5xl">Quest 2</p>
        <p class="text-2xl font-extralight">Chula QR Quest</p>
      </div>
      <a href="/fest/quest-2-A" class="mt-2.5 text-2xl font-bold">{">"}</a>
    </div>
    <div class="pt-4">
      <div
        class="my-5 flex flex-row items-start gap-1 justify-self-center text-center font-semibold tracking-wide whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        <p class="text-2xl">นิสิต</p>
        <p class="mt-1.5">
          {` = นักเรียนในรั้วมหาวิทยาลัย....\nเท่านั้นหรือ?`}
        </p>
      </div>
      <!-- <img src="/images/quest-1-banner.jpg" alt="Quest 1 Banner" class="w-full h-auto rounded-lg shadow-md mb-4" /> -->
      <p
        class="text-justify leading-relaxed hyphens-auto whitespace-pre-line"
        lang="th"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        {
          `เวลาไม่เคยหยุดเดิน มีเพียงตัวเรา…. ที่จะใช้ทุกนาทีอย่างคุ้มค่าหรือไม่ 
      
      เหล่านักท่องเวลายังคงต้องสำรวจสถานที่ประวัติศาสตร์ วัฒนธรรมที่ซ่อนตัวอยู่ในชุมชน จุฬาฯภารกิจนี้มีความพิเศษคือทุกคนจะได้มี ส่วนร่วมในแต่ละดินแดน ทั้งชิมของกิน ชมสถานที่น่าสนใจหรือแม้แต่นักท่องเวลาเป็นสายมูเตลู รับรองว่าชุมชนจุฬาฯ จะไม่ทำให้ผิดหวัง!! 
      
      หากนักท่องเวลาทำภารกิจนี้ได้สำเร็จ `
        }
      </p>
      <p
        class="my-5 text-center font-bold tracking-wide whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        {
          `เตรียมตัวมารับของตอบแทนจากมิติ 
        แห่งห้วงเวลากันได้เลย`
        }
      </p>
      <HorizonlineFest variant="blue" />
      <div
        class="my-5 text-center text-xl tracking-wide whitespace-pre-line"
        lang="th"
      >
        <p class="font-bold">ระยะเวลากิจกรรม</p>
        <p class="text-base">19 กรกฎาคม - 14 สิงหาคม 2568</p>
      </div>
      <HorizonlineFest variant="blue" />
      <p
        class="mt-3 mb-2 text-center text-xl font-bold tracking-wide whitespace-pre-line"
        lang="th"
      >
        {`วิธีการทำกิจกรรม`}
      </p>
      <div
        class="mb-3 text-justify indent-10 leading-relaxed hyphens-auto whitespace-pre-line"
        lang="th"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        <p>สแกน QR Code กับ LINE OA จากการเข้าชมสถานที่สำคัญ และการใช้บริการ
          ร้านอาหาร ร้านของหวาน ร้านเครื่องดื่ม
          ที่เป็นที่รู้จักบริเวณรอบจุฬาลงกรณ์มหาวิทยาลัย
          ผู้เข้าร่วมกิจกรรมสามารถ<strong
            >นำแต้มใน LINE OA มาแลกเป็นของรางวัลได้</strong
          >
        </p>
      </div>
      <HorizonlineFest variant="blue" />
      <div
        class="my-5 text-center text-xl tracking-wide whitespace-pre-line"
        lang="th"
      >
        <p class="font-bold">เงื่อนไขการรับรางวัล</p>
        <ul class="mt-3 flex flex-col items-start text-left">
          {
            awardConditions.map((condition) => (
              <li class="ml-10 list-disc text-base">{condition}</li>
            ))
          }
        </ul>
      </div>
      
      <HorizonlineFest variant="blue" />
      <div
        class="my-5 text-center text-xl tracking-wide whitespace-pre-line space-y-4"
        lang="th"
      >
        <p class="font-bold">ร้านอาหารแยกตามโซน</p>
        <ButtonFest href="/fest/quest-2-A" color="white" size="big"> โซน A</ButtonFest>
        <ButtonFest href="/fest/quest-2-B" color="white" size="big"> โซน B</ButtonFest>
        <ButtonFest href="/fest/quest-2-C" color="white" size="big"> โซน C</ButtonFest>
        <ButtonFest href="/fest/quest-2-D" color="white" size="big"> โซน D</ButtonFest>
        </div>
      </div>
      <HorizonlineFest variant="blue" />

      <div class="flex flex-col items-center gap-4">
        <ButtonFest href="https://lin.ee/xpZkNQf" color="blue" size="big"
          >สะสมแต้มใน LineOA</ButtonFest
        >
        <ButtonFest
          href="https://forms.gle/VgEbs394BveNz1iEA"
          color="pink"
          size="big">ลงทะเบียน Quest</ButtonFest
        >
      </div>
  </div>
</Layout>
