---
import Layout from "@/layouts/fest/FestWithNavbar.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import QuestItems from './ButtonProp/index.astro';
---

<Layout>
  
  <div class="px-4 py-6 flex flex-col space-y-2">
    <div class="w-full sticky top-0 z-10 backdrop-blur-md px-2 justify-between flex py-2">
      <a href="/fest/quest-2" class="text-2xl font-bold">{'<'}</a>
      <div class="text-center ">
        <p class="text-[48px] font-bold font-orbitron ">
          Quest 3
        </p>
        <p class="text-[24px] font-ibm-plex-sans-thai">
            Dimensions Unfold : Field Trips
        </p>

      </div>
      <a href="/fest/quest-3-1" class="text-2xl font-bold">{'>'}</a>
    </div>

    <div class="pt-4 font-ibm-plex-sans-thai">
      <p class="text-justify leading-relaxed hyphens-auto [text-indent:2em]" 
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">
        พายุสุริยะยังคงรุนแรงอย่างต่อเนื่อง แต่แล้ว… สัญญาณจากมิติแห่งเวลาได้เปิดเส้นทางหลบพายุให้นักท่องเวลาทั้งหลาย!!!
        ทว่าเส้นทางเหล่านั้น ถูกจำกัดด้วย วัน เวลา และสถานที่ ตามที่ แต่ละดินแดนกำหนดไว้
      </p>

        <p class="text-justify leading-relaxed hyphens-auto mt-[20px]" 
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">
            จงเลือกเส้นทางที่ต้องการ แล้วมาพบกันตาม วัน เวลา และสถานที่นัดหมายให้ถูกต้อง
            สิ่งสำคัญที่สุดในภารกิจนี้ อย่าลืมลงชื่อ!! เพื่อยืนยันว่าต้องการเป็นหนึ่งในผู้ร่วมเดินทาง
            หลบพายุไปด้วยกัน
        </p>
        <p class="text-white text-center font-semibold leading-relaxed my-[20px] text-shadow-md text-shadow-[#00FFFF]">
          ลงชื่อให้ทัน เพราะเปิดรับจำนวนจำกัด<br>หากช้า ระวังจะพลาดความสนุก<br>และอาจจะถูกพายุพัดพาไปจากเพื่อนร่วมทางได้<br>ระวังตัวไว้ให้ดี!!
        </p>
        <HorizonlineFest variant="blue" />

        <div class="text-center mt-[20px] mb-[20px]">
            <p class="mb-[10px] text-xl font-semibold">วิธีการทำกิจกรรม</p>
            <p>ลงทะเบียนเพื่อเข้าร่วม ลงกี่กิจกรรมก็ได้</p>
            <p>แต่ 1 กิจกรรมลงได้ 1 รอบเท่านั้น</p>
        </div>
        <div class="text-center font-bold mb-[20px]">
          <p class="mb-[10px] text-xl font-semibold">ตารางกิจกรรม</p>
          <img src="/fest/ActivityTable.png" alt="ActivityTable" />
        </div>

        <HorizonlineFest variant="blue" class="my-[20px]"/>

        <QuestItems/>
    </div>
    
</Layout>