---
import ButtonFest from "@/components/common/ButtonFest.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import Layout from "@/layouts/fest/FestWithNavbar.astro";
---

<Layout>
  <div class="flex flex-col space-y-2 px-4 py-6">
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-3-4" class="mt-2.5 text-2xl font-bold">{"<"}</a>
      <div class="flex flex-col gap-1 text-center">
        <p class="font-family-orbitron text-5xl">Quest 3.5</p>
        <p class="text-2xl font-extralight">Plantwalk</p>
      </div>
      <a href="/fest/quest-4" class="mt-2.5 text-2xl font-bold">{">"}</a>
    </div>
    <div class="pt-4">
      <img
        src="/images/fest/quest-3-5-banner.webp"
        alt="Quest 3-5 Banner"
        class="mb-4 h-auto w-full shadow-md"
      />
      <div
        class="my-5 flex flex-col items-center justify-center justify-self-center text-center font-semibold tracking-wide whitespace-pre-line text-shadow-md text-shadow-sky-300"
        lang="th"
      >
        <div class="flex flex-row items-center justify-center gap-2 text-lg">
          <p class="text-2xl">ใต้เงาจามจุรี:</p>
          <p class="mt-1">
            {` เดินดูต้นไม้ใหญ่`}
          </p>
        </div>
        <p>
          {`และชีวิตเล็ก ๆ ในจุฬาฯ`}
        </p>
      </div>
      <!-- <img
        src="/images/quest-1-banner.jpg"
        alt="Quest 1 Banner"
        class="mb-4 h-auto w-full rounded-lg shadow-md"
      /> -->
      <p
        class="mb-3 text-justify indent-10 leading-relaxed hyphens-auto whitespace-pre-line"
        lang="th"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        {
          `     เคยเงยหน้าดูต้นไม้ในจุฬาฯบ้างไหม? มาร่วม Walking Tour ที่จะพาคุณเดินสำรวจ ต้นไม้ใหญ่ในมหาวิทยาลัย ทั้งจามจุรีเจ้าถิ่น ต้นไม้ประวัติศาสตร์ และพื้นที่สีเขียวที่หลายคน อาจมองข้าม พร้อมชวนสังเกตสิ่งมีชีวิตเล็ก ๆ ใน ระบบนิเวศ ตั้งแต่นก ผีเสื้อจนถึงเห็ดราใต้พุ่มไม้

                กิจกรรมนี้เหมาะมากสำหรับคนที่อยากรู้ว่าธรรมชาติอยู่ตรงไหนในชีวิตประจำวันของนิสิต และอยากใช้เวลาสงบ ๆ 
                ใต้ร่มไม้ใหญ่ในจุฬาฯ 🌳🦋🍂`
        }
      </p>
      <div class="mb-5">
        <strong>จุดเริ่มต้น-สิ้นสุดเส้นทาง:</strong> ใต้โถงอาคารจามจุรี 5
      </div>
      <HorizonlineFest variant="blue" />
      <div
        class="my-5 text-center text-xl tracking-wide whitespace-pre-line"
        lang="th"
      >
        <p class="font-bold">วัน เวลาจัดกิจกรรม</p>
        <p class="mt-3 text-left text-base font-bold">รอบละ 30 คน</p>
        <ul class="ml-5 space-y-1 text-left text-sm">
          <li class="list-disc">22 กรกฎาคม 09.00 - 12.00 น.</li>
          <li class="list-disc">23 กรกฎาคม 09.00 - 12.00 น.</li>
        </ul>
        <p class="mt-2 text-left text-base">
          <strong>จุดนัดพบ:</strong>ใต้โถงอาคารจามจุรี 5
        </p>
      </div>

      <div class="flex flex-col items-center gap-4">
        <ButtonFest
          href="https://forms.gle/VgEbs394BveNz1iEA"
          color="pink"
          size="big">ลงทะเบียน Quest</ButtonFest
        >
      </div>
      <!-- <p class="text-justify leading-relaxed hyphens-auto" lang="th" style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">เหล่านักท่องเวลาถูกพายุสุริยะพัดพาไป ในดินแดนอันเต็มไปด้วยผู้คน ประวัติศาสตร์ วัฒนธรรม ความเชื่อ หลายต่อหลายดินแดน แต่สุดท้ายแล้ว ทุกดินแดน กลับมีจุดร่วมเดียวกัน นั่นคือความเป็นชุมชนจุฬาฯ ในฐานะนิสิตจุฬาฯ หนึ่งในองค์ประกอบเล็ก ๆ ที่สำคัญของชุมชนนี้ ควรจะใช้ความรู้ ความสามารถที่มี เพื่อเติมเต็มพัฒนาชุมชนจุฬาฯ ที่ดำเนิน และเป็นอยู่มาอย่างยาวนานตั้งแต่อดีต จวบจนปัจจุบัน และคาดหวังว่าจะยังคงดำเนินต่อไป ในอนาคต นักท่องเวลาทุกคนจะได้ CU109 FRESHY GUIDEBOOK เป็นตัวช่วยพิเศษที่จะใช้เก็บบันทึก ประสบการณ์ การผจญภัยในแต่ละมิติเวลา และ จะได้รับการประทับตราแสตมป์ เพื่อเป็นหลักฐาน ว่าเหล่านักท่องเวลาได้สำรวจพื้นที่ต่าง ๆ ในแต่ละ มิติเวลามาแล้ว</p> -->
      <!-- <p class="text-justify leading-relaxed hyphens-auto" lang="th" style="text-align: justify; text-align-last: left; word-spacing: 0.2em;">เหล่านักท่องเวลาถูกพายุสุริยะพัดพาไป ในดินแดนอันเต็มไปด้วยผู้คน ประวัติศาสตร์ วัฒนธรรม ความเชื่อ หลายต่อหลายดินแดน แต่สุดท้ายแล้ว ทุกดินแดน กลับมีจุดร่วมเดียวกัน นั่นคือความเป็นชุมชนจุฬาฯ ในฐานะนิสิตจุฬาฯ หนึ่งในองค์ประกอบเล็ก ๆ ที่สำคัญของชุมชนนี้ ควรจะใช้ความรู้ ความสามารถที่มี เพื่อเติมเต็มพัฒนาชุมชนจุฬาฯ ที่ดำเนิน และเป็นอยู่มาอย่างยาวนานตั้งแต่อดีต จวบจนปัจจุบัน และคาดหวังว่าจะยังคงดำเนินต่อไป ในอนาคต นักท่องเวลาทุกคนจะได้ CU109 FRESHY GUIDEBOOK เป็นตัวช่วยพิเศษที่จะใช้เก็บบันทึก ประสบการณ์ การผจญภัยในแต่ละมิติเวลา และ จะได้รับการประทับตราแสตมป์ เพื่อเป็นหลักฐาน ว่าเหล่านักท่องเวลาได้สำรวจพื้นที่ต่าง ๆ ในแต่ละ มิติเวลามาแล้ว</p> -->
    </div>
  </div>
</Layout>
