---
import ButtonFest from "@/components/common/ButtonFest.astro";
import HorizonlineFest from "@/components/common/HorizonlineFest.astro";
import Layout from "@/layouts/fest/FestWithNavbar.astro";

import QuestItems from "./ButtonProp/index.astro";
---

<Layout>
  <div class="flex flex-col space-y-2 px-2 py-6">
    <div
      class="sticky top-0 z-10 flex w-full justify-between px-3 py-2 backdrop-blur-md"
    >
      <a href="/fest/quest-2-D" class="text-2xl font-bold">{"<"}</a>
      <div class="text-center">
        <p class="text-5xl" style="font-family: var(--font-orbitron);">
          Quest 3
        </p>
        <p class="font-ibm-plex-sans-thai text-[24px]">
          Dimensions Unfold : Field Trips
        </p>
      </div>
      <a href="/fest/quest-3-1" class="text-2xl font-bold">{">"}</a>
    </div>

    <div class="font-ibm-plex-sans-thai px-8 pt-4">
      <p
        class="text-justify [text-indent:2em] leading-relaxed hyphens-auto"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        พายุสุริยะยังคงรุนแรงอย่างต่อเนื่อง แต่แล้ว…
        สัญญาณจากมิติแห่งเวลาได้เปิดเส้นทางหลบพายุให้นักท่องเวลาทั้งหลาย!!!
        ทว่าเส้นทางเหล่านั้น ถูกจำกัดด้วย วัน เวลา และสถานที่ ตามที่
        แต่ละดินแดนกำหนดไว้
      </p>

      <p
        class="mt-[20px] text-justify leading-relaxed hyphens-auto"
        style="text-align: justify; text-align-last: left; word-spacing: 0.2em;"
      >
        จงเลือกเส้นทางที่ต้องการ แล้วมาพบกันตาม วัน เวลา
        และสถานที่นัดหมายให้ถูกต้อง สิ่งสำคัญที่สุดในภารกิจนี้ อย่าลืมลงชื่อ!!
        เพื่อยืนยันว่าต้องการเป็นหนึ่งในผู้ร่วมเดินทาง หลบพายุไปด้วยกัน
      </p>
      <p
        class="my-[20px] text-center leading-relaxed font-semibold text-white text-shadow-[#00FFFF] text-shadow-md"
      >
        ลงชื่อให้ทัน เพราะเปิดรับจำนวนจำกัด<br />หากช้า ระวังจะพลาดความสนุก<br
        />และอาจจะถูกพายุพัดพาไปจากเพื่อนร่วมทางได้<br />ระวังตัวไว้ให้ดี!!
      </p>
      <HorizonlineFest variant="blue" />

      <div class="mt-[20px] mb-[20px] text-center">
        <p class="mb-[10px] text-xl font-semibold">วิธีการทำกิจกรรม</p>
        <p>ลงทะเบียนเพื่อเข้าร่วม ลงกี่กิจกรรมก็ได้</p>
        <p>แต่ 1 กิจกรรมลงได้ 1 รอบเท่านั้น</p>
      </div>

      <div class="mb-[20px] text-center font-bold">
        <p class="mb-[10px] text-xl font-semibold">ตารางกิจกรรม</p>
        <img src="/fest/ActivityTable.png" alt="ActivityTable" />
      </div>

      <HorizonlineFest variant="blue" class="my-[20px]" />

      <QuestItems />
      <diV class="mt-[30px] text-center">
        <ButtonFest
          color="pink"
          size="big"
          href="https://forms.gle/VgEbs394BveNz1iEA"
        >
          ลงทะเบียน Quest
        </ButtonFest>
      </diV>
    </div>
  </div></Layout
>
