---
import Layout from "@/layouts/firstdate/WithoutNavbar.astro";
---

<Layout>
  <div class="relative">
    <div class="flex min-h-screen items-center justify-center px-8">
      {/* Corner brackets */}
      <div
        class="absolute top-6 left-6 h-6 w-6 border-t-2 border-l-2 border-white"
      >
      </div>
      <div
        class="absolute top-6 right-6 h-6 w-6 border-t-2 border-r-2 border-white"
      >
      </div>
      <div
        class="absolute bottom-6 left-6 h-6 w-6 border-b-2 border-l-2 border-white"
      >
      </div>
      <div
        class="absolute right-6 bottom-6 h-6 w-6 border-r-2 border-b-2 border-white"
      >
      </div>

      <div class="flex flex-col items-center">
        <div class="mb-2 flex flex-col items-center">
          <img
            src="/firstdate/register/sgcu-logo.png"
            alt="SGCU Logo"
            class="h-14"
          />
          <img
            src="/firstdate/register/freshmen-fest-logo.png"
            alt="Freshmen Fest Logo"
          />
        </div>

        <svg
          width="10"
          height="300"
          viewBox="0 0 10 300"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="mb-2"
        >
          <circle cx="5" cy="5" r="5" fill="white"></circle>
          <line x1="5" y1="10" x2="5" y2="250" stroke="white" stroke-width="2"
          ></line>
          <circle cx="5" cy="255" r="5" fill="white"></circle>
        </svg>

        <button
          class="mb-4 w-full max-w-sm rounded-md bg-white px-6 py-3 text-base font-medium text-black transition duration-200"
          onclick="window.location.href='/register'"
        >
          ลงทะเบียน
        </button>

        <div class="mb-4 text-center">
          <p class="mb-2 text-sm">เคยลงทะเบียนมาแล้ว?</p>
          <button class="underline" onclick="window.location.href='/login'">
            เข้าสู่ระบบ
          </button>
        </div>
      </div>
    </div>
  </div>
</Layout>
