---
import MainLayout from "@/layouts/MainLayout.astro";

import RPKM from "@rpkm/sample.astro";
import FD from "@firstdate/sample.astro";
---

<MainLayout title="Home" description="Hello World@Firstdate and RPKM">
  <div class="p-4">
    <h1 class="text-2xl font-bold mb-4">FreshmenFest 2025</h1>
    
    <!-- Test image from /images/ path -->
    <div class="mb-4">
      <img src="/images/logo.svg" alt="Logo" class="w-32 h-32" />
    </div>
    
    <div class="mb-4">
      <img src="/images/test-image.svg" alt="Test Image" class="w-48 h-24" />
    </div>
  </div>
  
  <FD />
  <RPKM />
</MainLayout>
