---
import ButtonFd from "@/components/common/ButtonFd.astro";
import Layout from "@/layouts/firstdate/WithNavbar.astro";
---

<Layout>
  <div
    class="flex w-full flex-col items-center justify-center space-y-3 px-2.5 py-3"
  >
    <h1
      class="font-zen-dots my-8 fill-white text-center text-4xl text-white drop-shadow-lg drop-shadow-white/50"
    >
      ปฏิทิน
    </h1>

    <section class="relative flex flex-1 items-center justify-center">
      <div class="relative mx-auto w-full">
        <img
          src="/firstdate/register/success/time-travel.png"
          alt="Success Frame"
          class="w-full object-contain"
        />
      </div>
    </section>
    <ButtonFd variant="fill" color="white" href="/firstdate/home/">
      กลับหน้าหลัก
    </ButtonFd>
  </div>
</Layout>
