--- 
import "@/styles/global.css";
import Navbar from "@firstdate/Navbar.astro";
import Footer from "@firstdate/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-screen min-w-screen bg-slate-500">
    <div class="min-h-screen max-w-[440px] mx-auto flex flex-col bg-[url(/fest/BG-Fest.png)] bg-cover bg-center bg-no-repeat text-white ">
      <Navbar />
      <main class="flex-grow px-3">
        <slot />
      </main>
      <Footer varient="fest"/>
    </div>
  </body>
</html>
